$primary: #913036;
$secondary: #0D2638;
$tertiary: #315E7C;
$bodyText: #666;
$lightGreen: #BAEBC6;
$darkGreen: #104A1D;

// Gutter
$gutter: 8px;
$gutter-sm: $gutter * 2; // 16px
$gutter-md: $gutter * 3; // 24px
$gutter-lg: $gutter * 4; // 32px
$gutter-xl: $gutter * 5; // 40px